legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label,
textarea {
  width: 43%;
}

textarea {
  vertical-align: text-top;
}

fieldset {
  width: 90%;
}

fieldset > div {
  margin: 1rem 0;
}

label {
  display: inline-block;
  font-size: 0.8rem;
}

legend code {
  color: white;
  background-color: #777;
  padding: 0.5em;
  display: none;
}

.formtron fieldset {
  margin: 1em;
}

.formtron input,
.formtron textarea {
  border: 1px solid lightgray;
}
